body {
  font-family: 'Segoe UI';
  background-color: #202020;
}

.dataView {
  display: flex;
}

.dataDisplayText {
  color:#dedede;
  margin: 0 1vw;
}

#versionNum {
  position: absolute;
  bottom: 0.5vh;
  right: 1vw;
  color: #dedede;
}