<!-- DO NOT ADD CONTENT TO THIS UNLESS NECESSARY -->
<!-- THIS SHOULD BE USED AS THE BASE TO ADD CONTENT VIA REACT-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Hello Electron React!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
